<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="">PwC Mobile Device Management Admin</h3>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" routerLink="/RegisteredDevices">Home</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink="/RegisteredUsers">All Users</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink="/ReservedDevices">All Reservations</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink="/ActiveReports">Active Reports</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink="/SiteSettings">Site Settings</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Administrator: Siddaharth Suman</h4>
        </div>
    </div>
</div>