<div class="row">
    <div class="col">
      <h4>Reservations:</h4>
    </div>
  </div>
  <div class="row no-margin-top">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Device Name</th>
            <th scope="col">Username</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Previous Username</th>
            <th scope="col">Active</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let reservation of reservations; index as i">
            <tr>
              <td>{{i+1}}</td>
              <td>{{reservation.deviceName}}</td>
              <td>{{reservation.username}}</td>
              <td>{{reservation.startTime | date:'medium'}}</td>
              <td>{{reservation.endTime | date:'medium'}}</td>
              <td>{{reservation.previousUsername ? reservation.previousUsername : 'None'}}</td>
              <td>{{reservation.active ? 'Yes' : 'No'}}</td>
              <td>{{reservation.timestamp | date:'medium'}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
